.common_Menu .common_FAChar {
    fill: white;
    cursor: pointer;
}
.common_Menu.disabled .common_FAChar {
    visibility: hidden;
    cursor: inherit;
}
.common_Menu .common_List .common_TextBox .common_Shape {
    fill: #1f77b4;
    stroke: #1f77b4;
}
.common_Menu .common_List .common_TextBox .common_Text {
    fill: white;
}
.common_Menu .common_List .common_TextBox .common_Shape:hover {
    fill: #ff7f0e;
    stroke: #ff7f0e;
}
