.common_Surface .container .common_Shape {
    fill: #f9fcff;
    stroke: #1f77b4;
    stroke-width: 1.0px;
}
.common_Surface .title {
    cursor: move;
}
.common_Surface .title .common_Shape {
    fill: #1f77b4;
    stroke: #1f77b4;
    stroke-width: 1.0px;
}
.common_Surface .title text {
    fill: white;
    stroke: none;
}
