.chart_Pie path {
    cursor: pointer;
}

.chart_Pie > g > text {
    cursor: pointer;
}

.chart_Pie .arc path {
    stroke: white;
    stroke-width: 0.75px;
}

.chart_Pie polyline {
    opacity: .3;
    stroke: black;
    stroke-width: 2px;
    fill: none;
}