.chart_Scatter .pointShape,
.chart_Scatter .line,
.chart_Scatter .area {
    pointer-events: none;
}

.chart_Scatter .point .pointSelection {
    fill: none;
    stroke: none;
    pointer-events: all;
}
