body {
    padding:0px; 
    margin:8px; 
    overflow:hidden;
}

.topcorner {
  position: absolute;
  top: 8px;
  right: 8px;
}

#placeholder, .placeholder {
  position: absolute;
  left:8px;
  top:8px;
  right:8px;
  bottom:8px;
}

.codeSample {
  width:100%;
  height:480px;
}