.nyc_output
coverage
node_modules
bower_components
demos/itsecl
tmp/
lib/
lib-amd/
lib-umd/
lib-es6/
lib-test-*/
dist/
lib*
build/
types/
packages/**/.vs*
packages/amchart/images
packages/common/font-awesome
packages/**/yarn.lock
test/**/yarn.lock
tests/**/.vs*
util/**/.vs*
*.log
Web.config
nbproject
docx
.project
lib-es6/
lib-test/
lib-umd/
*.log
packages/**/package-lock.json
tests/**/package-lock.json
packages/ddl-shim/src/ddlSchema.ts
packages/ddl-shim/src/ddl2Schema.ts