.eclcc
node_modules
dist/
build/
lib*/
types/
packages/**/.vs*
tests/**/.vs*
util/**/.vs*
packages/**/package-lock.json
tests/**/package-lock.json
util/**/package-lock.json
packages/common/font-awesome
packages/ddl-shim/src/ddlSchema.*
packages/ddl-shim/src/ddl2Schema.*
Web.config
nbproject
docx
tmp/
.idea/
.project
*.log
tmp*.json
*.xml
*.zip
