.vscode
.nyc_output
coverage
node_modules
bower_components
tmp/
lib/
lib-umd/
lib-es6/
lib-test-*/
dist/
lib
build
packages/**/yarn.lock
test/**/yarn.lock
*.log
Web.config
nbproject
docx
.project
lib-es6/
lib-test/
lib-umd/
tmp/.vs*
.vs*
*.log