.graph_Graph2 .graphVertex {
    cursor: pointer;
}

.graph_Graph2 .allowDragging .graphVertex {
    cursor: grab;
}

.graph_Graph2 .allowDragging .graphVertex.grabbed {
    cursor: grabbing;
}

.graph_Graph2 .graphEdge {
    stroke: darkgray;
    fill: none;
}

.graph_Graph2 .graphEdge > text {
    stroke: none;
    fill: black;
}

.graph_Graph2 .graphEdge.hide-text > text {
    display: none;
}

.graph_Graph2 g.selected rect {
    stroke:red !important;
}

.graph_Graph2 g.selected circle {
    stroke:red !important;
}
