body {
    margin: 0px;
    padding: 0px;
    font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: white;
    font-weight: 300;
    overflow: hidden;
}

.about {
    margin: 40px auto 0px;
    overflow: hidden;
    position: absolute;
    right: 30%;
    width: 68%;
    bottom: 8px;
    top: 8px;
}

.tableDiv {
    overflow: auto;
    position: absolute;
    left: 71%;
    width: 27%;
    bottom: 8px;
    top: 8px;
}

#table table {
    width: 100%;
}

div.container {
    width: 1000px;
}

.graph_Vertex .common_Icon .common_Shape {
    fill: white;
    stroke: #1f77b4;
}

.graph_Vertex .common_Icon .common_FAChar .common_Text {
    fill: #1f77b4;
}

.graph_Vertex.expanding .common_Icon .common_Shape {
    fill: #b41f3a;
    stroke: none;
}

.graph_Vertex.expanding .common_Icon .common_FAChar .common_Text {
    fill: white;
}

.graph_Vertex.expanded .common_Icon .common_Shape {
    fill: #1f77b4;
    stroke: none;
}

.graph_Vertex.expanded .common_Icon .common_FAChar .common_Text {
    fill: white;
}
