.phosphor_WidgetAdapter {
  border: 1px solid #C0C0C0;
  background: white;
  min-width: 64px;
  min-height: 64px;
}

.phosphor_WidgetAdapter.p-DockPanel-widget {
  border-top: none;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.phosphor_WidgetAdapter.p-SplitPanel-child {
  border: none;
}

