.surface .container {
    cursor: default;
    fill: #dcf1ff;
    stroke: #1f77b4;
    stroke-width: 1.0px;
}

.surface .title rect {
    cursor: move;
    fill: #1f77b4;
    stroke: #1f77b4;
    stroke-width: 1.0px;
}

.surface .title text {
    fill: white;
    stroke: none;
}

.surface .more {
    fill: white;
    stroke: none;
}
