.bar .barRect {
  fill: steelblue;
  cursor: pointer;
}

.bar .barRect:hover {
  fill: #ff7f0e;
}

.bar .axis {
  fill: black;
  font: 10px sans-serif;
}

.bar .axis path,
.bar .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar .x.axis path {
  display: none;
}
