.chart_Line .dataLine {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.chart_Line .axis {
  fill: black;
  font: 10px sans-serif;
}

.chart_Line .axis path,
.chart_Line .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
