.tree_Indented .node rect {
  cursor: pointer;
  fill: #fff;
  stroke: #3182bd;
  stroke-width: 1px;
}
.tree_Indented .node text {
  font: 10px sans-serif;
  pointer-events: none;
}
.tree_Indented path.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px;
}