.chart_BulletChart {
}

.chart_BulletChart .domain {
    opacity: 0;
}

.chart_BulletChart .bullet {
    font: 10px sans-serif;
}

.chart_BulletChart .bullet .marker {
    stroke: #000;
    stroke-width: 2px;
}

.chart_BulletChart .bullet .tick line {
    stroke: #666;
    stroke-width: .5px;
}

.chart_BulletChart .bullet .range.s0 {
    fill: #eee;
}

.chart_BulletChart .bullet .range.s1 {
    fill: #ddd;
}

.chart_BulletChart .bullet .range.s2 {
    fill: #ccc;
}

.chart_BulletChart .bullet .measure.s0 {
    fill: lightsteelblue;
}

.chart_BulletChart .bullet .measure.s1 {
    fill: steelblue;
}

.chart_BulletChart .bullet .title {
    font-size: 14px;
    font-weight: bold;
}

.chart_BulletChart .bullet .subtitle {
    fill: #999;
}
