body {
    padding:0px; 
    margin:8px; 
    overflow:hidden;
}

#placeholder {
    width:100%; 
    height:100vh;
}

.observacblehq--inspect{
    display:none
}

.hljs-comment{
    color:var(--syntax_comment)
}
.hljs-built_in{
    color:var(--syntax_known_variable)
}
.hljs-doctag,.hljs-keyword,.hljs-name,.hljs-section,.hljs-selector-class,.hljs-selector-id,.hljs-selector-tag,.hljs-strong,.hljs-tag,.hljs-type{
    color:var(--syntax_keyword)
}
.hljs-deletion,.hljs-variable{
    color:#e377c2
}
.hljs-literal{
    color:var(--syntax_atom)
}
.hljs-bullet,.hljs-link,.hljs-number,.hljs-regexp{
    color:var(--syntax_number)
}
.hljs-addition,.hljs-meta,.hljs-string,.hljs-symbol,.hljs-template-tag,.hljs-template-variable{
    color:var(--syntax_string)
}
