#main > div > div.layout_Surface{
    border-radius:0px;
}
#content{
    background-color:#fff;
}
#sidebar {
    position: absolute;
    width:570px;
    top: 60px;
    bottom: 20px;
    right:10px;
    background-color: #fff;
    padding:10px;
    margin-right: -400px;
    -webkit-transition: margin-right .5s;
    transition: margin-right .5s;
}
#sidebar.open {
    margin-right: 0px;
    -webkit-box-shadow: -10px 0px 15px -3px rgba(0,0,0,0.5);
    -moz-box-shadow: -10px 0px 15px -3px rgba(0,0,0,0.5);
    box-shadow: -10px 0px 15px -3px rgba(0,0,0,0.5);
}
#sidebar h4 span {
    margin-right: 70px;
}
/*        #num_columns::-webkit-outer-spin-button,
        #num_columns::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }*/
#num_columns {
    width:40px;
    line-height:10px;
    font-size:12px;
}
#grid-json-object > li {
    padding:8px;
    width:800px;
}
#object_editor {
    font-size: 10px;
    padding: 8px;
    margin: 0;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    line-height: 1.42857143;
    color: #333;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: auto;
    width: 100%;
    height:500px;
}
.view_source { 
    position: absolute; 
    bottom: 4px; 
    right: 15px; 
}
.surfaceTitle {
    text-align: left !important;
}
#main > div > div.layout_Surface,
#main .cell__w0 > div > .layout_Cell{
    border:0;
}
#main .layout_Surface .layout_Surface .layout_Surface .layout_Surface{
    border:0;
}
#main .layout_Surface .layout_Surface .layout_Surface .layout_Surface > .surfaceWidget{
    padding:0;
}
.graph-options{
    height: 36px;
    background-color: #F5F5F5;
    padding: 4px;
    box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);
    -webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);
    border-bottom: 1px solid #c2c2c2;
}
.graph-options > div.btn-group{
    margin-right:4px;
}
#graph-container{
    background-color: #FFF;
    border: 0;
}
#graph-container > div > div.layout_Surface{
    border: 0;
}
.btn > i{
    margin-right:4px;
}
.btn-info {
  color: #FFF;
  background-color: #179BD7;
  border-color: #46B8DA;
}
.layout_Surface > h3 {
    margin: 0px;
    padding: 6px!important;
    text-align: center;
    font-weight: normal!important;
    background-color: #E5E5E5;
    font-size:16px;
}
h3.surfaceTitle button.btn {
    float: right;
    margin: 0px;
    margin-left:4px;
    padding: 1px 5px;
    font-size: 10px;
    line-height: 1.5;
    border-radius: 3px;
}
.default-mode-btn{
    display:inline-block;
}
.design-mode-btn{
    display:none;
}
.color-swatches li > a > div {
    display: inline-block;
    border: 1px solid #DDD;
    width: 25px;
    height: 25px;
    border-left-width: 0px;
    border-right-width: 0px;
}
ul#font-dropdown,
ul#container-colors-dropdown {
    padding:3px 0;
}
ul#font-dropdown a,
ul#ordinal-palette-dropdown a,
ul#rainbow-palette-dropdown a,
ul#container-colors-dropdown a {
    padding: 5px 6px 2px 6px;
}
ul#ordinal-palette-dropdown a > div,
ul#rainbow-palette-dropdown a > div,
ul#container-colors-dropdown a > div {
    border:1px solid #464646;
    border-left-width:0px;
    border-right-width:0px;
    height: 22px;
    width: 36px;
    display: inline-block;
}
ul#ordinal-palette-dropdown a > div,
ul#rainbow-palette-dropdown a > div{
    height: 18px;
    width: 18px;
}
ul#ordinal-palette-dropdown a > div:first-child,
ul#rainbow-palette-dropdown a > div:first-child,
ul#container-colors-dropdown a > div:first-child {
    border-left-width:1px;
}
ul#ordinal-palette-dropdown a > div:last-child,
ul#rainbow-palette-dropdown a > div:last-child,
ul#container-colors-dropdown a > div:last-child {
    border-right-width:1px;
}
.save-dropdown fieldset{
    margin-bottom:8px;
}
.save-dropdown fieldset > legend{
    padding:0;
    margin-bottom: 8px;
}
.save-dropdown fieldset > label{
    padding-left:8px;
}
#tabs-ul > li > a {
    padding: 5px 20px;
}
#tabs-ul > li.active > a {
    border-top: 2px solid #179BD7;
    padding-top: 3px;
}
.divider{
    color:#CCC;
}
ul#ordinal-palette-dropdown,
ul#rainbow-palette-dropdown {
    padding:0;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
}

/* Modal */
#modal .modal-header {
    cursor:move;
}
#modal #ul-color-list li{
    list-style: none;
}
#modal #ul-color-list span{
    display:inline-block;
    width:200px;
}
#container-colors-dropdown button{
    width: 142px;
}
.view_source {
    display:inline-block;
    background-color:#E6E6E6;
    position: absolute;
    bottom: 1px;
    right: 1px;
    -webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0);
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    width: 13px;
    overflow:hidden;
}
.view_source {
    -webkit-transition: width 0.1s ease-in-out;
    -moz-transition: width 0.1s ease-in-out;
    -o-transition: width 0.1s ease-in-out;
    transition: width 0.1s ease-in-out;
}
.view_source:hover{
    width:98px;
}
.surfaceTitle {
    text-align: left !important;
}  
h3.surfaceTitle .html-button-container {
    line-height: 10px;
    top:5px;
}
.html-button-container div {
    display: inline-block;
}
.html-button-container .standard_button {
    font-size: x-small;
    font-weight: normal;
    padding: 1px 6px 0 0;
}
.html-button-container .btn {
    margin: -2px 4px 0 0;
}
.html-button-container .btn button, .icon button {
    background: transparent;
    border: none;
    outline: none;
}
.icon button:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 20px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    transform: translate(0, 0);
    padding-right: 10px;
    margin-top: -2px;
    color: rgb(31, 119, 180);
}
.icon button:hover:before {
    color: rgb(79, 177, 245);
}
.icon.print button:before {
  content: "\f02f"
}
.icon.save button:before {
  content: "\f0c7"
}
.icon.add button:before {
  content: "\f055 "
}
.icon.remove button:before {
  content: "\f056 "
}
.icon.question button:before {
  content: "\f059"
}
.icon.share button:before {
  content: "\f064"
}
.no_title_btn_cntr {
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    height:55px;
    background: rgba(80,80,80,.8);
    text-align: center;
    display:block;
    opacity: 0;
    transition: opacity .2s linear;
}
.no_title_btn_cntr div {
    display: inline-block;
}
.no_title_btn_cntr button:before {
    font-size: 35px;
    color: #B0B0B0;
    padding: 10px;
}
.no_title_btn_cntr button:hover:before {
    color: #fff;
}
.surfaceWidget:hover > .no_title_btn_cntr {
    /*display:block;*/
    opacity: 1;
} 
#main > div > div.layout_Surface,
#main .cell__w0 > div > .layout_Cell {
    border:0;
}
#main .layout_Surface .layout_Surface .layout_Surface .layout_Surface{
    border:0;
}
#main .layout_Surface .layout_Surface .layout_Surface .layout_Surface > .surfaceWidget{
    padding:0;
}