.prettyprint > .dec{
    color:#099;
}
.prettyprint > .pln{
    color:#333;
}
.prettyprint > .tag{
    color:#2F6F9F;
    font-weight:bold;
}
.prettyprint > .atn{
    color:#4F9FCF;
}
.prettyprint > .pun{
    color:#4F9FCF;
}
.prettyprint > .atv{
    color:#D44950;
}
.prettyprint > .str{
    color:#D44950;
}
.prettyprint > .kwd{
    color:#2980b9;
}
.prettyprint > .typ{
    color:#189200;
    font-weight:bold;
}
.prettyprint > .lit{
    color:#e74c3c;
}
.prettyprint > .com{
    color:#333;
}