body {
    padding:0px; 
    margin:8px; 
    overflow:hidden;
}

.topcorner {
  position: absolute;
  top: 8px;
  right: 8px;
}

#placeholder, #target {
  position: absolute;
  left:8px;
  top:8px;
  right:8px;
  bottom:8px;
}

.p-MenuBar {
  padding-left: 5px;
  background: #FAFAFA;
  color: rgba(0, 0, 0, 0.87);
  border-bottom: 1px solid #DDDDDD;
  font: 13px Helvetica, Arial, sans-serif;
}

.p-MenuBar-menu {
  transform: translateY(-1px);
}

.p-MenuBar-item {
  padding: 4px 8px;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}

.p-MenuBar-item.p-mod-active {
  background: #E5E5E5;
}

.p-MenuBar.p-mod-active .p-MenuBar-item.p-mod-active {
  z-index: 10001;
  background: white;
  border-left: 1px solid #C0C0C0;
  border-right: 1px solid #C0C0C0;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}

.p-Menu {
  padding: 3px 0px;
  background: white;
  color: rgba(0, 0, 0, 0.87);
  border: 1px solid #C0C0C0;
  font: 12px Helvetica, Arial, sans-serif;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
}

.p-Menu-item.p-mod-active {
  background: #E5E5E5;
}

.p-Menu-item.p-mod-disabled {
  color: rgba(0, 0, 0, 0.25);
}

.p-Menu-itemIcon {
  width: 21px;
  padding: 4px 2px;
}

.p-Menu-itemLabel {
  padding: 4px 35px 4px 2px;
}

.p-Menu-itemMnemonic {
  text-decoration: underline;
}

.p-Menu-itemShortcut {
  padding: 4px 0px;
}

.p-Menu-itemSubmenuIcon {
  width: 16px;
  padding: 4px 0px;
}

.p-Menu-item[data-type='separator'] > div {
  padding: 0;
  height: 9px;
}

.p-Menu-item[data-type='separator'] > div::after {
  content: '';
  display: block;
  position: relative;
  top: 4px;
  border-top: 1px solid #DDDDDD;
}

.p-Menu-itemIcon::before,
.p-Menu-itemSubmenuIcon::before {
  font-family: FontAwesome;
}

.p-Menu-item.p-mod-toggled > .p-Menu-itemIcon::before {
  content: '\f00c';
}

.p-Menu-item[data-type='submenu'] > .p-Menu-itemSubmenuIcon::before {
  content: '\f0da';
}

.p-CommandPalette {
  font-family: sans-serif;
  background: #F5F5F5;
}

.p-CommandPalette-search {
  padding: 8px;
}

.p-CommandPalette-wrapper {
  padding: 4px 6px;
  background: white;
  border: 1px solid #E0E0E0;
}

.p-CommandPalette-input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
}

.p-CommandPalette-header {
  padding: 4px;
  color: #757575;
  font-size: 12px;
  font-weight: 600;
  background: #E1E1E1;
  cursor: pointer;
}

.p-CommandPalette-header:hover::before {
  content: '\2026'; /* ellipsis */
  float: right;
  margin-right: 4px;
}

.p-CommandPalette-header > mark {
  background-color: transparent;
  font-weight: bold;
}

.p-CommandPalette-item {
  padding: 4px 8px;
  color: #757575;
  font-size: 13px;
  font-weight: 500;
}

.p-CommandPalette-emptyMessage {
  padding: 4px;
  color: #757575;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
}

.p-CommandPalette-item.p-mod-disabled {
  color: rgba(0, 0, 0, 0.25);
}

.p-CommandPalette-item.p-mod-active {
  background: #7FDBFF;
}

.p-CommandPalette-item:hover:not(.p-mod-active):not(.p-mod-disabled) {
  background: #E5E5E5;
}

.p-CommandPalette-itemLabel > mark {
  background-color: transparent;
  font-weight: bold;
}

.p-CommandPalette-item.p-mod-disabled mark {
  color: rgba(0, 0, 0, 0.4);
}

.p-CommandPalette-itemCaption {
  color: #9E9E9E;
  font-size: 11px;
  font-weight: 400;
}
