.layout_Surface {
    margin: 0px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    overflow:hidden;
}
.layout_Surface > h3 {
    margin: 0px;
    padding: 2px;
    text-align: center;
    font-weight: bold;
    background-color: #e5e5e5;
}
.layout_Surface .html-button-container {
    position: absolute;
    right: 0px;
    top:3px;
}

.layout_Surface > div {
    padding: 8px;
}

.layout_Surface .html-button-container .surface-button {
    position: relative;
    background: transparent;
    border: none;
    opacity: 0.8;
}​

.layout_Surface .html-button-container .surface-button:hover { opacity: 1; }
.layout_Surface .html-button-container .surface-button:active { opacity: 0.5; }
