.dgrid-fakeline {
    border: 0px;
    border-bottom: 1px solid rgb(221, 221, 221);
    margin: 0px;
    margin-left:-3px;
    margin-top:2px;
    margin-right:-3px;
    margin-bottom:2px;
}

.dgrid-cell { 
    text-overflow: ellipsis; 
    white-space: nowrap; 
}