.other_Table {
    color:#333333;
    border-width: 1px;
    border-color: #999999;
}
.other_Table table {
    border-collapse: collapse;
    border-spacing: 0;
}
.other_Table .tableDiv {
    position: absolute;
}
.other_Table th, .labels-wrapper th {
    padding:5px 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #a9c6c9;
    color:white;
    white-space: nowrap;
    cursor : pointer;
    box-sizing: border-box;
}
.other_Table thead > tr, .cols-wrapper tr {
    background-color:#1f77b4;
}
.other_Table .thIcon, .labels-wrapper .thIcon {
    font-family: FontAwesome;
    padding-left: 8px;
}
.other_Table .tableDiv tbody > tr:nth-child(odd) {
    background-color: #f3faff;
    color:black;
}
.other_Table .tableDiv tbody > tr:nth-child(even)  {
    background-color: white;
    color:black;
}
.other_Table .tableDiv tbody > tr.selected  {
    background-color:#f48a00;
    color: white;
}
.other_Table .rows-wrapper table > tbody > tr {
    background-color:#BCE1FB;
    color:black;
}
.other_Table .rows-wrapper .labels-wrapper {
    width: 100%;
}
.other_Table table tbody > tr.selected {
    background-color:#f48a00;
    color: white;
}
.other_Table .tableDiv tbody > tr:hover, .other_Table .tableDiv tbody > tr.hover, .rows-wrapper table tbody tr.hover {
    background-color: #bfd7e7;
    color: white;
}
.other_Table .tableDiv tbody > tr.selected:hover, .other_Table .tableDiv tbody > tr.selected.hover {
    background-color: #5ea8db;
    color: white;
}
.other_Table .rows-wrapper tbody tr.hover.selected {
    background-color:#5ea8db;
    color: white;
}
.other_Table tr.selected:hover, .other_Table tr.selected.hover {
    background-color:#5ea8db;
    color: white;
}
.other_Table td, .rows-wrapper td{
    border-width: 1px;
    padding:2px 5px;
    border-style: solid;
    border-color: #a9c6c9;
    white-space: nowrap;
    box-sizing:border-box;
    vertical-align: middle;
}
.other_Table tfoot td, .rows-wrapper tfoot td {
    background-color: #ADDFF3;
    font-weight: bold;
}
