.onoffswitch-checkbox {
    display: none;
}
.onoffswitch {
    position: relative; height: 20px; width: 100px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 1px solid #999999;
    height: 20px;
}
.onoffswitch-inner {
    position: relative;
    display: block;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner > .onoffswitch-offText,
.onoffswitch-inner > .onoffswitch-onText{
    height: 100%;
}
.onoffswitch-inner > .onoffswitch-offText{
    font-weight: bold;
    position: absolute;
    right: 0;
    transition: all 0.3s ease-in 0s; 
    width: 100%;
    text-align: right;
}
.onoffswitch-inner > .onoffswitch-onText{
    font-weight: bold;
    position: absolute;
    left: -100%;
    transition: all 0.3s ease-in 0s; 
    width: 100%;
    text-align: left;
}
.onoffswitch-switch {
    display: block; width: 20px; margin: -1px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 78px;
    border: 1px solid #999999;
    transition: all 0.3s ease-in 0s; 
    left: 4px;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner > .onoffswitch-offText{
    right: -100%;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner > .onoffswitch-onText{
    left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    left: calc(100% - 20px);
}