.composite_Dermatology {
    background-color: ghostwhite;
}

.composite_Dermatology .common_Icon {
    background-color: red;
    opacity:0.75;
}

.composite_Dermatology .common_Icon .common_Shape {
    fill: white;
    stroke: darkgray;
    cursor:pointer;
}

.composite_Dermatology .common_Icon.show .common_Shape {
    fill: lightgray;
}

.composite_Dermatology .common_Icon .common_FAChar .common_Text {
    fill: darkgray;
    cursor:pointer;
}

.composite_Dermatology .other_PropertyEditor {
    font-family: sans-serif;
    font-size: 11px;
}

.composite_Dermatology .other_PropertyEditor input {
    font-family: sans-serif;
    font-size: 11px;
    border:0px;
}

.composite_Dermatology .other_PropertyEditor .property-label {
    height:unset;
}
