.map_Layered .checkerFill {
    fill: red;
    stroke: red;
    opacity: 0.5;
}

.map_Layered .checkerNoFill {
    fill: none;
    stroke: none;
    opacity: 0.5;
}

.map_Layered .mesh {
    fill: none;
    stroke: #6D6E71;
    stroke-width: 0.25;
}

.map_Layered .data {
    stroke: none;
    stroke-width: 0.25;
}
