.graph_SankeyGraph .node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
  stroke: darkgray;
}

.graph_SankeyGraph .node.selected rect {
  stroke: red;
}

.graph_SankeyGraph .node.over rect {
  stroke: orange;
}

.graph_SankeyGraph .node.selected.over rect {
  stroke: red;
}

.graph_SankeyGraph .node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}

.graph_SankeyGraph .node.selected text {
  fill: red;
}

.graph_SankeyGraph .node.over text {
  fill: orange;
}

.graph_SankeyGraph .node.selected.over text {
  fill: red;
}

.graph_SankeyGraph .link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}

.graph_SankeyGraph .link:hover {
  stroke-opacity: .5;
}