.layout_Border2 > .body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row;
}

.layout_Border2 > .body > .center {
    flex: 3 1 60%;
    -ms-flex: 3 1 auto;
    order: 2;
}

.layout_Border2 > .body > .lhs {
    flex: 1 6 20%;
    -ms-flex: 1 6 auto;
    order: 1;
}

.layout_Border2 > .body > .rhs {
    margin-left: 4px;
    flex: 1 6 20%;
    -ms-flex: 1 6 auto;
    order: 3;
}

.layout_Border2 > .header {
    display: block;
}

.layout_Border2 > .footer {
    display: block;
}
