.form_Form {
    color:#404040;
}
.form_Form tbody td {
    white-space: nowrap;
    border:1px solid #E5E5E5;
}
.form_Form td.prompt {
    padding:5px;
    vertical-align:top;
    background-color:#E5E5E5;
}
.form_Form td.input {
    padding:5px;
    width:100%;
    vertical-align:middle;
}
.form_Form tfoot button{
    margin:5px;
}
.form_Form tbody tr:hover {
    background-color:#FAFAFA;
}
.form_Form .form_Button button {
    background-position: -1px -1px;
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(36, 41, 46);
    cursor: pointer;
    height: 28px;
    left: 0px;
    overflow-wrap: break-word;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(36, 41, 46);
    top: 0px;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
    column-rule-color: rgb(36, 41, 46);
    perspective-origin: 57.2938px 14px;
    transform-origin: 57.2938px 14px;
    user-select: none;
    background: rgb(239, 243, 246) linear-gradient(-180deg, rgb(250, 251, 252) 0%, rgb(239, 243, 246) 90%) repeat-x scroll -1px -1px / 110% 110% padding-box border-box;
    border: 1px solid rgba(27, 31, 35, 0.2);
    border-radius: 3px 3px 3px 3px;
    outline: rgb(36, 41, 46) none 0px;
    padding: 3px 10px;
}
.form_Form .form_Button button[disabled="disabled"] {
    background: rgb(219, 223, 226);
}
.form_Form .form_Button button:focus {
    box-shadow: 0 0 0 0.2em rgba(3,102,214,0.3)
}
.form_Form .form_Button button:hover {
    background: rgb(219, 223, 226);
}
.form_Form .form_Button.default button {
    color: rgb(255, 255, 255);
    text-decoration: none solid rgb(255, 255, 255);
    word-wrap: break-word;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 44.975px 17px;
    transform-origin: 44.975px 17px;
    background: rgb(40, 167, 69) linear-gradient(-180deg, rgb(52, 208, 88) 0%, rgb(40, 167, 69) 90%) repeat-x scroll -1px -1px / 110% 110% padding-box border-box;
    outline: rgb(255, 255, 255) none 0px;
}
.form_Form .form_Button.default button[disabled="disabled"],
.form_Form .form_Button.default button[disabled="disabled"]:hover {
    background: rgb(219, 223, 226);
}
.form_Form .form_Button.default button:hover {
    background: rgb(20, 147, 49);
}
