.form_Slider text {
    color:#000;
}
.form_Slider .chart_Axis {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.form_Slider .chart_Axis .domain {
    fill: none;
    stroke: lightgray;
    stroke-width: 10px;
    stroke-linecap: round;
}
.form_Slider .extent {
    fill: #fff;
    opacity: 0.5;
}
.form_Slider .background {
    fill: red;
    opacity: 0.5;
}
.form_Slider .handle {
    fill: #fff;
    stroke: #bbb;
    stroke-opacity: .5;
    stroke-width: 1.00px;
    pointer-events: none;
}
.form_Slider .common_Icon .common_Widget .common_Shape {
    fill: #ccc;
    stroke: #bbb;
}
.form_Slider .common_Icon:hover {
    cursor:pointer;
}
.form_Slider .common_Icon:hover .common_Widget .common_Shape {
    stroke: #aaa;
}
