
.dijitTooltip {
	position: absolute;
	z-index: 2000;
	display: block;
	
	left: 0;
	top: -10000px;
	overflow: visible;

  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
}
.dijitTooltipContainer {
	border: solid black 2px;
	background: #b8b5b5;
	color: black;
	font-size: small;
}
.dijitTooltipFocusNode {
	padding: 2px 2px 2px 2px;
}
.dijitTooltipConnector {
	position: absolute;
}
.dj_a11y .dijitTooltipConnector {
	display: none;	
}
.dijitTooltipData {
	display:none;
}

.dijitTooltip {
/* the outermost dom node, holding the connector and container */
  background: transparent; /* make the area on the sides of the arrow transparent */
}
.dijitTooltipContainer {
  background-color: #424242;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  padding: 4px 8px;
  border-radius: 3px;
}
.dijitTooltip .dijitTooltipContainer {
  color: #fff;
  border: 0 none;
}
.dijitTooltipConnector {
/* the arrow */
  z-index: 2;
  width: auto;
  height: auto;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.dijitTooltipABRight .dijitTooltipConnector {
/* above or below tooltip, but the arrow appears on the right,
			and the right edges of target and tooltip are aligned rather than the left */
  left: auto !important;
  right: 8px;
}
.dijitTooltipBelow {
/* leave room for arrow above content */
  padding-top: 4px;
}
.dijitTooltipBelow .dijitTooltipConnector {
/* the arrow piece for tooltips below an element */
  top: 0;
  left: 8px;
  border-bottom: 4px solid #424242;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 0;
}
.dijitTooltipAbove {
/* leave room for arrow below content */
  padding-bottom: 4px;
}
.dijitTooltipAbove .dijitTooltipConnector {
/* the arrow piece for tooltips above an element */
  bottom: 0;
  left: 8px;
  border-top: 4px solid #424242;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 0;
}
.dijitTooltipLeft {
  padding-right: 4px;
}
.dijitTooltipLeft .dijitTooltipConnector {
/* the arrow piece for tooltips to the left of an element, bottom borders aligned */
  right: 0;
  border-left: 4px solid #424242;
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
  border-right: 0;
}
.dijitTooltipRight {
  padding-left: 4px;
}
.dijitTooltipRight .dijitTooltipConnector {
/* the arrow piece for tooltips to the right of an element, bottom borders aligned */
  left: 0;
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
  border-right: 4px solid #424242;
}

.dgrid {
  position: relative;
  overflow: hidden;
  border: 1px solid #ddd;
  height: 30em;
  display: block;
}
.dgrid-header {
  background-color: #eee;
}
.dgrid-header-row {
  position: absolute;
  right: 17px;
  left: 0;
}
.dgrid-header-scroll {
  position: absolute;
  top: 0;
  right: 0;
}
.dgrid-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.dgrid-header-hidden {
  font-size: 0;
  height: 0 !important;
  border-top: none !important;
  border-bottom: none !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.dgrid-footer-hidden {
  display: none;
}
.dgrid-sortable {
  cursor: pointer;
}
.dgrid-header,
.dgrid-header-row,
.dgrid-footer {
  overflow: hidden;
  background-color: #eee;
}
.dgrid-row-table {
  border-collapse: collapse;
  border: none;
  table-layout: fixed;
  empty-cells: show;
  width: 100%;
  height: 100%;
}
.dgrid-cell {
  padding: 3px;
  text-align: left;
  overflow: hidden;
  vertical-align: top;
  border: 1px solid #ddd;
  border-top-style: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-overflow: ellipsis; 
  white-space: nowrap; 
}
.dgrid-content {
  position: relative;
  height: 99%;
}
.dgrid-scroller {
  overflow-x: auto;
  overflow-y: scroll;
  position: absolute;
  top: 0px;
  margin-top: 25px;
  bottom: 0px;
  width: 100%;
}
.dgrid-preload {
  font-size: 0;
  line-height: 0;
}
.dgrid-loading {
  position: relative;
  height: 100%;
}
.dgrid-above {
  position: absolute;
  bottom: 0;
}
.ui-icon {
  width: 16px;
  height: 16px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAQAAAADwCAMAAADYSUr5AAAA7VBMVEUkIiQkIiQkIiQkIiQkIiQkIiQkIiQkIiQkIiQkIiQkIiQkIiQkIiQkIiQkIiQkIiQkIiQkIiQkIiQkIiQkIiQkIiQkIiQkIiQkIiQkIiQkIiQkIiQkIiQkIiQkIiQkIiQkIiQkIiQkIiQkIiQkIiQkIiQkIiQkIiQkIiQkIiQkIiQkIiQkIiQkIiQkIiQkIiQkIiQkIiQkIiQkIiQkIiQkIiQkIiQkIiQkIiQkIiQkIiQkIiQkIiQkIiQkIiQkIiQkIiQkIiQkIiQkIiQkIiQkIiQkIiQkIiQkIiQkIiQkIiQkIiQkIiQkIiQkIiTww4gUAAAATnRSTlMAGBAyBAhQv4OZLiJUcEBmYBoSzQwgPBZCSEoeWiYwUiyFNIeBw2rJz8c4RBy9uXyrtaWNqa2zKP2fJO8KBgKPo2KVoa9s351GPm5+kWho0kj9AAAPhUlEQVR4nO1djWLbthEGyUiq5YSSLXtp7FpLOmfzkmxr126tmi2p03RJ1/Xe/3EGgARxPyAgRbIk2/hkSz4CJO4+HsE7AJSVysjI2AMUUOxahZ2iANhzBtZWr4BoIRSYAVN5u4QwDwQDRbcwfUi5KS3wFuDmFnQLa4Dtb//cqktwD5QEFFwfUs7PoCCA7y4bEJVFizcIob8KmhAplwwqVjt+9FBl3uINQniwEiryEyw9JHqGpQdEFNi+B4QQ7QOiHhysIPoAxUqxvdvvA9K42bsAv4S2fxfYOe57IJSRkZGRkZGxx7jxSHDHcRBXQMTyIjInBgHwBJ/bEx8PEANC+uhbpSSggCBAVODVabpI1S/k4WLZpTn6NpMhoX9Y40hxYERFpMcqUs4AloCtDQdID1YhnyXZ2hLjAYWiO9Dy1PDB7tPhIqLx+uMB8grZaR+Qxl2/C2RkZGRkZGRk7A7rBf7J0DR5/LUTjzUPIPSPGvQJiVJiB7kcQCiUOJrcFNtDZIf2xarQ3aGvLNxAVIFAabz90BFiBIlycTBhgWwOWCH0FLYHlPqwHaCvcIn2ZbosCevfPTRiFFcgvHukCjWwrc3GrGh1fsAof8EaUReKXkCB4/MzFNo97qLpFiKFYv/kNR5YQxQbQEofkZ2OuEOHqqT6gFTpru8CN7x/+jaZkZGRkZGRcV+x/rLUNcMMqUAscgnFocmpqkTzqymwVAPxfJ5PnIUUQOUKT04tEdWZyv3JCQSn96WS4pD97QfyW25A7NhSAbyhmVj0FEltA4vdiygBibXhoUYgykCUP7HwPTDeEqAIcHVMkZg7Zx4k0uFANs63hPQXCoRLAwdgGsr9Az7Qv7sgQGgg1aPl/BJLExBWgG4RFRLFImGmIquPC/klEGyCG0AuAXaJJC+B8FVe9NYQDEcXB8g6AQcjYJ1goJIggHWCrFR0S6kRHN5+4BzFi8NaoN35NRxUvL+JJdZr7PV4wK6fj8nIyMjIyNhr3OxdXAYq7FHZwB6bDSzSh4sF0utChqo0NAvaT1hLzXwFinmCzmeDucEQK18TTaQoFgP7bNC+RZ4OT4T6gQogDFYk+1QxQlj19QGSAWKiLYp8P0Ag1Gbz1ULfWHLg9iUnQNK5QQJcukm04blKLH2GgEJCY+HzXAZWCvHKco3Bp6MIaCjSXXRJyOxeqhnzEaF93MfFGW/O16ZvDL5TM4MJIjujz/cHypkQuuzRwWJ93BKdIt+wCRAPl9kpe2Ikkb2mFgGlxh/i40d3EHfdvoyMjIyMu43ylt/IAmGHnN5iIt7wKfbv01RAcJqFRl9lcjYQSnbQqKgC4fYOwSJt6N6trE0twZ9kN/PqNpTQeICvr4TLsDYC06U7BMjshS+v1/aT7IwQYD5LcgRQXMT2FrBfBLjZ6151jDElk9tPFfpUgk2yregusX25BJbwAFEfM+YI6vGAti4bTtizB+TjfQCrERyhKb2X8D6A9wX75P4t4neBYJeP6pdhg/gQl8MWvytzeSTjgOQBynQdh/iXKdxOrGJ/RkZGRsb9QmXihGr5+g8GGg9uTh+KoVZuNIzV+CwRucFBEyr1mVjx4irOxwM1BhirB6Q+2eNQi4eqR+aF6mELtoMzCR7V9RAFe/ZvQogNiyY8FPSUTFsLp8TeTmMui5mtw7bcaT0Yw2AA4wFRQIlkgq+1DQrNhkmoxS5Jq+u6bMAIGRECEANgXHTgWzwgBOhDH2l0oTQ4D8D5NMktBgNywAEMjo8rwATMZrPY7JGxBoJCkIBDQiAY09EGTUiBCWkUpISfGPR5AAwBfZiG2z7Ayc1yeKTxid39xBNwfHr4O0LA48ePFTvhYrF1r4tyAoz9n2MCqEuBtp/6GDR0oAYfG/R6wJExHYZHfhygsv7fEWCOj4bYmsP5A+pL4MkTfAnMlD4F+r3bobKvTyTA2P/w7PN+Agq2QW8piqMCpTBwenoKvX0AHGkGtP2YAPvTEWA7QUTAudn7/NxtOG46wWNmDtpBEkBzN7rBEvAFHp+YTB/q97qPAN4gHFqgBi8uLsC7qPCA6mg41G/+ErByPwEXDdoNxRhOx+M5jPEzQugS0ht+b1/Y3gEnYMAIAOIBE29/hIDucE8tmMsNOgK4B1RHFu4UCRlMHzv0xzcajcfdXWDs2h8TArBCkoDUJYDLmz6w7ip3BFS0ve5wTRwAn6keMA9I3QYbfSZ0DKbyt+7OXjGI1idPcfNyAyfAMlCrzaGqphYrxHocLHRJVycnfGUcbtT+jIyMjIw9x7Nn8fJSzG0TmFtO8rZT+XT3S3ub+tKJbbLd5diTVp50+zahyeHSslJ/YPrU0fuazrZO2CZ92/ZCCVXlGRiZKPJyPPRxyIFWeXLQBXJBKiq/3divEAN6ZwM200Qjm7EJBZeWm/PRWVCbYK7s7u2l4XaCz+lzgOfMfhMonXr7TWzeZb98dbgIzBT8Ub8eYYUqfZ4rVJ/MDbIDgPqTulJ/xvntWAtjIisqnwxOkGz0n077FARoY79GdA6HPE4rOy196NiMWHTZlSSApcOgXpy/fHV2joaNKu3ffsAnRcBf4K/6NcIG6tIxk3HyoXPjASqfUgXbYN5PzpL2njkR9QMjeDTVHDTCgRuxOegjoO0FvKzP/t/gmVdI24+G7NIe8JX6Wv3dDyldMA+4YB5wwTygtd+dwRqaTqrLb1l73zTSN52CNpnHuQOYPsDblybgxfkXh/oVtr+N1DEBJdhRJyd/Bd/q1z+cbNrD17iVKyajcnv9arhOkRPgsruuD6DmNPwpDNrLw2CoTgHni4yALr0L29+tiKAEIPn868ejx//8rpWP3OEOl5On9OwpcQm0MhafP/ey8f1uvDNIgGLQG8z4YO99ENgg95etwv4uYJYY8fUGHYH6j6fscHFZMftlAl9i+9XL73X3N/n+ZStOzfVfRvYXhrbdKOpEgVQTg/wsDuDD3kwOfQNMTJ5y+/ltUDWLunyxnRF46IqlBzGMY4X7inggREFioIyMjIyMHWCIB6ZNKAcXseo3vLTQTkVE7348dlwJJSz0+wLfmi8BhZqfw3D4ww/wHVLnEd5/fgYvXsDZ3MlsvYUbbnDjDZ3MN3TJG4+bxjAaDl8TBri9qxEw1ccao2wTNAMLHo2f+sjrXwb/9qHoYqgPMBXJTVfOpmrZH23y6uvo0LHSyY6fHGwKfHJlAuMFvObjDYrIqxBgQi20h7Hd/nYVLmno+eaNUm/eeH2GCuopntnhBJAlI2AHo9CCh1I1QxUdAbqqGY9BBLwyc3W4wYVhvY8A4BoIc1l5M7vnPWphZW9/Ses3n37y9a0uGqFwFQZsQQbd386DogpgEk+dzynsAZMJXq8+ns9NeukJ0PYrNATGGefJQlhkLo7DTXr+y3bNiOsDvrXTz/C2q1DXZH84iRNwrP88Nj+u2DjYEE6RBxD9Knj16ujVHC67A7422o02RwD3gB+t7EblWvu9geOFxSnd3ROmT+nJyQkhoPlsxVONc/3TEdBos+jtA+ZzcwHgTvD1cDjaYCcItA8w9i88A8b+mqSjc6Pvqd998QguEQPmQMeo23ODN86+p0/bn1buBkT6+oBhNZ/PYY4ZAHYb3PRd4LkZmPX68NRtMZn4ASvdA+qf0jMA5MP9eeg28Nug9QiLnj5A33U1MAES6xHAUNpz/9zFAYE1gqQDMT3G6xI9pwdw/aIgKoHCS1YGlRnSq9yCjdXjgN3j+N27YyROHxmuNAeNKPpYuXIyIyMjYy0M8eros59MF/PT2c602T7eA7zvhJ9dr/vzDjXaLp4Yc5+0wllzxzHv3gdmMMM7/CcQzKgVBqYTmFn+Z+mKm8J7k0A5F/jgCfjQ1WBhQyiOqD0lYuqBb+AyzMw9Ha2G3m6c8qQx+AlqnIceQp+Sb6i9UyQWbhr54+AjnZ0VzW2TAN0DmBT6PWmc6jDBE2PK2u+nF43dyP7Q0t1pOcX2fdRvH0mF2Q4JqN35rnHjVIeaXfIAVyUuw/aHCCiJy9iF5l1621zweI8KZrPZ9iJdb7DXJ3US0OSrtZ10imt7wHY7QesAzUMz1oZ3noB3qFJ/H18j97FYuw8QDN4oeKf30osvcSW2ExLo+VcbuAuo/sUIm8fMG9xocO3Ea19J9gFYivnHJ2KnyfovZlgW3v6ySx32abQiIyMjIyPjhlFDTLxpwIgFMnTp6A3g4IDKNY+stkwAMAoIAbasxBXqUWneSAWTMjt50lTqT29rFjvXohjsDNm2YPXDFlICmrJOZ3t6tHm8AiEAl0sCeLIIorIRt+cFbew/QRsoAXb4o1XSfoywzm0FTMAoYBNvLyFu8v8HpLBtD1iKgC17wHb7AI6d9wFbvguAIGTHd4E9wG7jgIyMjIyM+434c2R3HeV/Ffx6jtZu6ijl8h59T655jhR+rdHzDOP6beABCheb8O8/WFXeOyzgf5oAhVYnKxP7CwaAf1afJu8bSrhS6tdaXeGnrRenOqOlz9d6QwYnA/3TLd+GE7qe3chA5YF5DfY0vK3adfOX/gyNp2BW25MHdxAB9qvRiiP3/XpQQFGYDU4+Mi///XumXG8pjvaUAOsBGlf4jJt+YYEzeEzAdw06F19R3juM7D1wita86GR0CKfDHgLuXCc4Bri6vMLdfjMc4VNSUNsdodo2xu/1+Xl/K5+az8jIyMhYG/z5gJTMF1GtKq/a3rpyCvz5gJTMl9GtKq/a3rpyCmfQ4WwZmS+kXFVetb115ST48wEf/AGcfG1iw+tWbpbS2vJ3nQxcVr3lH3z5h972FUTLzYpOVk7l5hD+eYcYwDcAnewOotrZ4OtrPDucqi/LRX0/RR4qx7Nn4U8g+qjffvuN6Gf+nC85vwauHjaYyubqvWYKY4VEfSUMitdnBCT1Ue63R5439m+OgCn6DroAAaHPVQxKth/wkJgHmG8bmQMsT0D6EjDfvhVRKO3ywOQUgRA7nmL1uawZmHf1k+DPBwQ6NdcJ+k6Md1LA5f5ONdhJ8vZ5J0vLHT99srkGOjmJbd/G1r2Nriqnse1AZt1AalU5jW2HsuuG0qvKGRkZGRkZGRG0gcONyXsP9v8D0/IdJADiBNiXl3327WRGgOL/9HC/0XwlIURkRhC4tz6Z/fu7fUf2gHvfB9z3u0BGRkZGRkbGplHcnkgguQoSqtUXuhbs/wPtMwqV0HUJAvj5vk32b8IDuL23yn7qAXZ5u32hbRX7d3o82Df1FZXvbh9QOfhyxldr/+3xgXU9oKmvsHyr7F/XA269/eveBXrsv7N9QALe/tvjA0kPWAXGbvebkbHn+D/J5nMcHzx1UAAAAABJRU5ErkJggg==);
}
.dgrid-sort-arrow {
  background-position: -64px -16px;
  display: block;
  float: right;
  margin: 0 4px 0 5px;
  height: 12px;
}
.dgrid-sort-up .dgrid-sort-arrow {
  background-position: 0px -16px;
}
.dgrid-selected {
  background-color: #bbb;
}
.dgrid-input {
  width: 99%;
}
html.has-mozilla .dgrid .dgrid-row:focus,
html.has-mozilla .dgrid .dgrid-cell:focus {
  outline: 1px dotted;
}
html.has-mozilla .dgrid-focus {
  outline-offset: -1px;
}
.dgrid-scrollbar-measure {
  width: 100px;
  height: 100px;
  overflow: scroll;
  position: absolute;
  top: -9999px;
}
.dgrid-autoheight {
  height: auto;
}
.dgrid-autoheight .dgrid-scroller {
  position: relative;
  overflow-y: hidden;
}
.dgrid-autoheight .dgrid-header-scroll {
  display: none;
}
.dgrid-autoheight .dgrid-header {
  right: 0;
}
.dgrid-column-set {
  overflow: hidden;
  width: 100%;
  position: relative;
  height: 100%;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}
.dgrid-column-set-cell {
  vertical-align: top;
  height: 100%;
}
.dgrid-column-set-scroller-container {
  font-size: 0;
  position: absolute;
  bottom: 0;
}
.dgrid-autoheight .dgrid-column-set-scroller-container {
  position: relative;
}
.dgrid-column-set-scroller {
  display: inline-block;
  overflow-x: auto;
  overflow-y: hidden;
}
.dgrid-column-set-scroller-content {
  height: 1px;
}
.ui-icon-triangle-1-e {
  background-position: -32px -16px;
}
.ui-icon-triangle-1-se {
  background-position: -48px -16px;
}
.dgrid-expando-icon {
  width: 16px;
  height: 16px;
}
.dgrid-tree-container {
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-duration: 0.3s;
  overflow: hidden;
}
.dgrid-tree-container.dgrid-tree-resetting {
  -webkit-transition-duration: 0;
  -moz-transition-duration: 0;
  -o-transition-duration: 0;
  -ms-transition-duration: 0;
  transition-duration: 0;
}
.dgrid-hider-toggle {
  background-position: 0 -192px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
}
.dgrid-rtl-swap .dgrid-hider-toggle {
  right: auto;
  left: 0;
}
.dgrid-hider-menu {
  position: absolute;
  top: 0;
  right: 17px;
  width: 184px;
  background-color: #fff;
  border: 1px solid #000;
  z-index: 99999;
  padding: 4px;
  overflow-x: hidden;
  overflow-y: auto;
}
.dgrid-rtl-swap .dgrid-hider-menu {
  right: auto;
  left: 17px;
}
.dgrid-hider-menu-row {
  position: relative;
  padding: 2px;
}
.dgrid-hider-menu-check {
  position: absolute;
  top: 2px;
  left: 2px;
  padding: 0;
}
.dgrid-hider-menu-label {
  display: block;
  padding-left: 20px;
}
.dgrid-header .dojoDndTarget .dgrid-cell {
  display: table-cell;
}
.dgrid-header .dojoDndItemBefore {
  border-left: 2px dotted #000 !important;
}
.dgrid-header .dojoDndItemAfter {
  border-right: 2px dotted #000 !important;
}
.dgrid-column-resizer {
  cursor: col-resize;
  position: absolute;
  width: 2px;
  background-color: #666;
  z-index: 1000;
}
.dgrid-resize-handle {
  height: 100px;
  width: 0;
  position: absolute;
  right: -4px;
  top: -4px;
  cursor: col-resize;
  z-index: 999;
  border-left: 5px solid transparent;
  outline: none;
}
.dgrid-resize-header-container {
  height: 100%;
}
.dgrid-resize-guard {
  cursor: col-resize;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
html.has-touch .dgrid-resize-handle {
  border-left: 20px solid transparent;
}
html.has-touch .dgrid-column-resizer {
  width: 2px;
}
.dgrid-resize-header-container {
  position: relative;
}
.dgrid-header .dgrid-cell {
  overflow: hidden;
}
.dgrid-spacer-row {
  height: 0;
}
.dgrid-spacer-row th {
  padding-top: 0;
  padding-bottom: 0;
  border-top: none;
  border-bottom: none;
}
.dgrid-status {
  padding: 2px;
}
.dgrid-pagination .dgrid-status {
  float: left;
}
.dgrid-pagination .dgrid-navigation,
.dgrid-pagination .dgrid-page-size {
  float: right;
}
.dgrid-navigation .dgrid-page-link {
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
  padding: 0 4px;
}
.dgrid-first,
.dgrid-last,
.dgrid-next,
.dgrid-previous {
  font-size: 130%;
}
.dgrid-pagination .dgrid-page-disabled {
  color: #aaa;
  cursor: default;
}
.dgrid-page-input {
  margin-top: 1px;
  width: 2em;
  text-align: center;
}
.dgrid-page-size {
  margin: 1px 4px 0 4px;
}
.dgrid-rtl-swap .dgrid-header-row {
  right: 0;
  left: 17px;
}
.dgrid-rtl-swap .dgrid-header-scroll {
  left: 0px;
  right: auto;
}
.dgrid-rtl .dgrid-cell {
  text-align: right;
}
.dgrid-rtl .dgrid-sort-arrow {
  float: left;
  margin: 0 5px 0 4px;
}
.dgrid-rtl .ui-icon-triangle-1-e {
  background-position: -96px -16px;
}
.dgrid-rtl .ui-icon-triangle-1-se {
  background-position: -80px -16px;
}
.dgrid-rtl .dgrid-pagination .dgrid-status {
  float: right;
}
.dgrid-rtl .dgrid-pagination .dgrid-page-size {
  float: right;
}
.dgrid-rtl .dgrid-pagination .dgrid-navigation {
  float: left;
}
.dgrid-rtl.dgrid-autoheight .dgrid-header {
  left: 0;
}

.dgrid_Table .placeholder {
    border:none;
    padding:0px;
    overflow:hidden;
}

.dgrid_Table .dgrid-fakeline {
  border: 0px;
  border-bottom: 1px solid rgb(221, 221, 221);
  margin: 0px;
  margin-left:-3px;
  margin-top:2px;
  margin-right:-3px;
  margin-bottom:2px;
}
