.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.66);
  color: #fff;
  border-radius: 2px;
  pointer-events: none !important;
  z-index:10;
}

.d3-tip.hidden {
    visibility:hidden;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline-block;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.66);
  position: absolute;
  pointer-events: none !important;
}

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px -4px 0 0;
  top: 50%;
  left: -8px;
  font-size: 16px;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -3px;
  top: 50%;
  left: 100%;
  font-size: 16px;
}

.d3-tip.notick:after {
  content: "" !important;
}

.common_Widget .over {
  stroke: rgba(0, 0, 0, 0.66);
  opacity: 0.66;
}
