.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.66);
  color: #fff;
  border-radius: 2px;
  pointer-events: none !important;
  z-index:10;
}

.d3-tip.hidden {
    visibility:hidden;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  content: " ";
  box-sizing: border-box;
  display: inline-block;
  border: 4px solid  rgba(0, 0, 0, 0.66);
  position: absolute;
  pointer-events: none !important;
  width: 8px;
  height: 8px;
  margin: 0;
}

/* Northward tooltips */
.d3-tip.n:after {
  top: 100%;
  left: calc(50% - 4px);
  border-top-width: 8px;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}

/* Eastward tooltips */
.d3-tip.e:after {
  top: calc(50% - 4px);
  left: -12px;
  border-top-color: transparent;
  border-right-width: 8px;
  border-bottom-color: transparent;
  border-left-color: transparent;
}

/* Southward tooltips */
.d3-tip.s {
  margin-top: 8px;
}
.d3-tip.s:after {
  top: -12px;
  left: calc(50% - 4px);
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-width: 8px;
  border-left-color: transparent;
}

/* Westward tooltips */
.d3-tip.w:after {
  top: calc(50% - 4px);
  left: 100%;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-width: 8px;
}

.d3-tip.notick:after {
  border-color: transparent !important;
}

.common_Widget .over {
  stroke: rgba(0, 0, 0, 0.66);
  opacity: 0.66;
}
