.other_PropertyEditor{
    overflow-y:scroll;
    height:100%;
    width:100%;
}
.other_PropertyEditor .other_PropertyEditor{
    overflow:hidden;
}
.other_PropertyEditor .property-table{
    width:100%;
    border: 1px solid #ddd;
    border-width:0 0 0 1px;
}
.other_PropertyEditor .property-table thead > tr > th{
    text-align:left;
    background-color:#333;
    color:#fff;
    padding-left:4px;
}
.other_PropertyEditor .property-table thead > tr > th > i{
    float:right;
    padding: 4px;
}
.other_PropertyEditor .property-table thead > tr > th > i:hover{
    background-color: #555;
    cursor:pointer;
}
.other_PropertyEditor .property-table.property-table-collapsed tbody{
    display:none;
}
.other_PropertyEditor .property-table tbody > tr:nth-child(even){
    background-color: #F9F9F9;
}
.other_PropertyEditor .property-table tbody > tr:nth-child(odd){
    background-color: #FFF;
}
.other_PropertyEditor .property-table tbody > tr > td{
    text-align:left;
    color:#333;
    padding:0 0 0 2px;
}
.other_PropertyEditor .property-input-cell > div{
    padding-left: 8px;
}
.other_PropertyEditor .property-label{
    padding-right: 4px;
    box-sizing: border-box;
    height: 20px;
}
.other_PropertyEditor td.property-input-cell{
    text-align:left;
    height:20px;
    padding:1px 0;
}
.other_PropertyEditor .property-input-cell > input,
.other_PropertyEditor .property-input-cell > textarea{
    width:100%;
    box-sizing: border-box;
}
.other_PropertyEditor .property-input-cell > input{
    height: 20px;
}
.other_PropertyEditor .property-input-cell > textarea{
    height: 40px;
}
.other_PropertyEditor .property-input-cell.boolean-cell{
    width:auto;
    margin:0;
    position:relative;
}
.other_PropertyEditor .property-input-cell > input[type="checkbox"]{
    width:auto;
    margin:0;
    position:absolute;
    top: 0;
}
.other_PropertyEditor .html-color-cell > input{
    width:80%;
}
.other_PropertyEditor .html-color-cell > input[type="color"]{
    width:20%;
    position: relative;
    top: -1px;
}