.other_Table {
    color:#333333;
    border-width: 1px;
    border-color: #999999;
    border-collapse: collapse;
}

.other_Table .tableDiv {
    position: absolute;
}

.other_Table th, .labels-wrapper th {
    padding:5px 10px;
    background-color:#1f77b4;
    border-width: 1px;
    border-style: solid;
    border-color: #a9c6c9;
    color:white;
    white-space: nowrap;
    cursor : pointer;
}

.other_Table .thIcon, .labels-wrapper .thIcon {
    font-family: FontAwesome;
    padding-left: 8px;
}

.other_Table tr {
    background-color:#dcf1ff;
    color:black;
}

.other_Table .rows-wrapper tr {
    background-color:#BCE1FB;
    color:black;
}

.other_Table .rows-wrapper .labels-wrapper {
    width: 100%;
}
.other_Table tr.selected, .rows-wrapper tr.selected {
    background-color:#f48a00;
    color: white;
}

.other_Table tr:hover, .other_Table tr.hover, .rows-wrapper tbody tr.hover {
    background-color: #bfd7e7;
}

.other_Table .rows-wrapper tbody tr.hover.selected {
    background-color:#5ea8db;
    color: white;
}

.other_Table tr.selected:hover, .other_Table tr.selected.hover {
    background-color:#5ea8db;
    color: white;
}

.other_Table td, .rows-wrapper td{
    border-width: 1px;
    padding:2px 5px;
    border-style: solid;
    border-color: #a9c6c9;
    white-space: nowrap;
    box-sizing:border-box;
}
