.circlepacking circle {
  fill: rgb(31, 119, 180);
  fill-opacity: .25;
  stroke: rgb(31, 119, 180);
  stroke-width: 1px;
}

.circlepacking .leaf circle {
  fill: #ff7f0e;
  fill-opacity: 1;
}

.circlepacking .label {
  fill:white;
  text-anchor: middle;
}
