.dendrogram .node circle {
    fill: #dcf1ff;
    stroke: #1f77b4;
    stroke-width: 1.0px;
}

.dendrogram .node {
}

.dendrogram .link {
    fill: none;
    stroke: #656565;
    stroke-width: 1.0px;
}
