body {
    padding: 0px;
    margin: 8px;
    background: lightgrey;
    color: black;
    overflow: hidden;
}

#placeholder,
.placeholder {
    position: absolute;
    left: 18px;
    top: 18px;
    right: 18px;
    bottom: 18px;
}