.common_IconBar {
}

.common_IconBar .icon-bar {
    opacity: 0.95;
    white-space: nowrap;
    z-index:1;
}

.common_IconBar .icon-bar a {
    text-align: center; /* Center-align text */
    transition: opacity 0.3s ease; /* Add transition for hover effects */
    color: darkgray; /* White text color */
}
.icon-bar-item a:hover {
    opacity: 0.8;
}
.icon-bar-item a:active {
    opacity: 0.6;
}
.common_IconBar .icon-bar a.disabled {
    opacity: 0.3;
    pointer-events: none;
    color: darkgray; 
}

.common_IconBar .icon-bar a:hover {
    background-color: whitesmoke; /* Add a hover color */
}

.common_IconBar .icon-bar a {
    background-color: white;
}

.common_IconBar .icon-bar a.selected {
    background-color: #efe5e5; /* Add a hover color */
}

.common_IconBar .icon-bar div.spacer {
    text-align: center; /* Center-align text */
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: transparent;
}

.common_IconBar .icon-bar div.spacer.vline {
    border-left-color: darkgray;
}

.common_IconBar .icon-bar a.spacer:hover {
    background-color: transparent;
}

.common_TitleBar .data-count{
    position: absolute;
    visibility: hidden;
}

.common_TitleBar .title-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: bold;
}
.common_TitleBar .description-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}

.common_TitleBar > .title-title{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.common_TitleBar > .icon-bar{
    position: absolute;
    top: 0;
    right: 0;
}
.icon-bar,
.icon-bar-item{
    float: left;
}
.icon-bar-item a{
    display: inline-block;
}
.icon-bar-item .spacer i{
    display: none;
    vertical-align: -15%;
}
