.common_Surface .container .common_Shape {
    fill: #f9fcff;
    stroke: #1f77b4;
    stroke-width: 1.0px;
}

.common_Surface .title {
    cursor: move;
}

.common_Surface .title .common_Shape {
    fill: #1f77b4;
    stroke: #1f77b4;
    stroke-width: 1.0px;
}

.common_Surface .title text {
    fill: white;
    stroke: none;
}

.button-container {
    position: "fixed";
}

/*.common_Surface .surface-button tspan { opacity: 0.8; }
.common_Surface .surface-button tspan:hover { opacity: 1; }
.common_Surface .surface-button tspan:active { opacity: 0.5; }*/
