.map_GMap {
}
.map_GMap .marker {
    fill: #656565;
    stroke: none;
    stroke-width: 1.0px;
}
.map_GMap .map_Layered {
    pointer-events: auto;
    cursor:auto;
}
.gm-style img { max-width: none; }
.gm-style label { width: auto; display: inline; }
