.handson_Table .handsontable th {
    background-color:#1f77b4;
    color:white;
}

.handson_Table .handsontable th span.columnSorting::after {
    color:white;
}

.handson_Table .ht_clone_left tr > td.htNoWrap {
    background-color: #bce1fb;
}

.handson_Table .ht_master tr:nth-of-type(odd) > td {
    background-color: #f3faff;
}

.handson_Table .ht_master tr:nth-of-type(even) > td {
    
}