.layout_Modal-header {
    background-color: rgb(63,81,181);
    overflow: hidden;
}
.layout_Modal-body {
    background-color: #ffffff;
    overflow-y: scroll;
    overflow-x: hidden;
}
.layout_Modal-annotations {
    position: absolute;
}
.layout_Modal-closeButton {
    cursor: pointer;
}
.layout_Modal-closeButton:hover {
    opacity: 0.7;
}
.layout_Modal-closeButton:active {
    opacity: 0.5;
}
.layout_Modal-fade {
    position: fixed;
    background-color: #000;
    opacity: 0.5;
    z-index: 10000;
}
.layout_Modal-content {
    position: fixed;
    background-color: #ffffff;
    z-index: 10100;
}
.layout_Modal-fade-hidden {
    display: none;
}
.layout_Modal-fadeClickable {
    cursor: pointer;
}