.layout_Grid .ddCell {
    position: absolute;
}

.layout_Grid .laneBackground {
    position: absolute;
}

.layout_Grid .lane {
    position: absolute;
    border-style: none;
    opacity: 0.25;
    border-radius: 0px;
    pointer-events: none;
}

.layout_Grid .draggable {
    border-style: solid;
    border-width: 1px;
    background-color: ghostwhite;
    border-radius: 0px;
    cursor:move;
}

.layout_Grid .resizeHandle {
    bottom: 0px;
    right: 0px;
    width: 8px;
    height: 8px;
    border-style: none;
    position: absolute;
    cursor:nwse-resize;
}

.layout_Grid .resizeHandleDisplay {
    bottom: 2px;
    right: 2px;
    width: 4px;
    height: 4px;
    border-style: solid;
    border-left-width: 0px;
    border-top-width: 0px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-color: darkGray;
    background-color:none;
    position: absolute;
}

.layout_Grid .resizeHandleDisplay:hover {
    border-color: orange;
}

.layout_Grid .dragging {
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    background-color: gray;
    border-radius: 0px;
    position: absolute;
    background: repeating-linear-gradient( -45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 4px, rgba(100, 100, 100, 0.1) 4px, rgba(100, 100, 100, 0.1) 8px );
}

.layout_Grid .resizing {
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    background-color: orange;
    border-radius: 0px;
    position: absolute;
    opacity:0.3;
    background: repeating-linear-gradient( -45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 4px, orange 4px, orange 8px );
}

.layout_Grid .selected {
    border-style: solid;
    border-width: 1px;
    border-color: red;
    background-color: gray;
    border-radius: 0px;
    position: absolute;
    background: repeating-linear-gradient( -45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 4px, rgba(100, 0, 0, 0.1) 4px, rgba(100, 0, 0, 0.1) 8px );
}

.layout_Grid #drag-me::before {
    content: "#" attr(id);
    font-weight: bold;
}
