.layout_Surface {
    margin: 0px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    overflow:hidden;
}
.layout_Surface > h3 {
    margin: 0px;
    padding: 2px;
    text-align: center;
    font-weight: bold;
    background-color: #e5e5e5;
}
.layout_Surface > div {
    padding: 8px;
}

.surface-button {
    position: relative;
    background: transparent;
    border: none;
    right:25px;
    top:2px;
    opacity: 0.8;
    color: #fff;
}​
.surface-button:hover { opacity: 1; }
.surface-button:active { opacity: 0.5; }
