.layout_TabbedContent {
    padding: 20px;
}
.layout_TabbedContent .tab-button {
    border: 1px solid #ddd;
    background-color: transparent;
    margin-right:5px;
}
.layout_TabbedContent .tab-button.active {
    background-color: #ccc
}
